body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    margin: 35px;

  }

h1 {
    color:rgb(46, 46, 46);
    font-size: 60px;
    
}

.navbar {
    padding: 30px;
    font-size: 17px;
    text-align: left;
    
}

.content { 
    background-color: rgb(255, 255, 255);
    min-height: 300px;
    padding: 40px;
}

.footer {
    background-color:#121420;
    color:white;
    min-height: 50px;
    padding: 30px;
    padding-left: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#contact {
  margin: 0 auto;
  position: relative;
  width: 50%;
  border:solid 1px;
  background-color:lightgrey
}

#contact-head {
    margin: 0 auto;
    position: relative;
    width: 50%;
    border:solid 1px;
    background-color:lightgrey
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa-facebook {
    background: #2C2B3C;
    color: #E63946;
  }
  .fa-twitter {
    background: #2C2B3C;
    color: #E63946;
  }
  .fa-linkedin {
    background: #2C2B3C;
    color: #E63946;
  }
  .fa:hover {
    opacity: 0.7;
}
.card-title {
    font-family:Cambria, Cochin, Georgia, Times;
    font-size: 80px;
}
.card-text{
    font-family:Cambria, Cochin, Georgia, Times;
    font-size: 20px;
}
.card{
    margin: 5px 5px;
}
.navigation{
    align-content: center;
}
.btn {
   color: black;
}


