.card-title {
    font-family:Cambria, Cochin, Georgia, Times;
    font-size: 80px;
}
.card-text{
    font-family:Cambria, Cochin, Georgia, Times;
    font-size: 20px;
}
.card{
    margin: 5px;  
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }